body{
    background:rgb(232, 241, 95);
    color:rgb(243, 87, 183);
    margin: 0px;
    margin-bottom: 100px;
}

.chamada{
    background-color: rgb(10, 10, 10);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

}
header{
    color:mintcream;
    font-size: 40px;
    margin-bottom: 3px;
    padding: 20px;

}
.chamada-texto{
    margin-right:5%;
}