body{
    background:rgb(189, 2, 148);
    color:rgb(10, 1, 6);
    margin: 0px;
    margin-bottom: 100px;
}

.chamada{
    background-color: rgb(129, 26, 155);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;

}
header{
    color:mintcream;
    font-size: 40px;
    margin-bottom: 3px;
    padding: 20px;

}
.chamada-texto{
    margin-right:5%;
}